::-webkit-scrollbar-thumb {
    position: relative;
    border-radius: 10px;
    background-color: #bdbdbd;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    z-index: 999;
}
::-webkit-scrollbar {
    position: relative;
    width: 6px;
    height: 6px;
    z-index: 999;
}
*::after,*::before,* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
@for $i from 5 through 30 {
    .mt-#{$i} {
        margin-top: #{$i};
    }
}
.pointer-events {
    pointer-events: none;
}
.move {
    position: relative;
    cursor: move;
    * {
        pointer-events: none !important;
        user-select: none !important;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px dashed #00a0e9;
        cursor: move;
    }
    &.active {
        &::after {
            content: "";
        }
        .del-btn {
            display: block;
        }
    }
    .del-btn {
        height: 16px;
        line-height: 16px;
        position: absolute;
        right: 2px;
        bottom: 2px;
        display: none;
        text-align: center;
        font-size: 12px;
        padding: 0 5px;
        color: #fff;
        background: rgba(0,0,0,.4);
        margin-left: 2px;
        cursor: pointer;
        pointer-events: auto !important;
        z-index: 90;
    }
}
